@import "./common.css";

.window {
    background-color: white;
    border: 1px outset dimgray;

    /* TODO: & nesting */
}
.window header {
    background-image: linear-gradient(to bottom right, lightgray, dimgray, black);
    color: gainsboro;
}

.rootWindow {
    background-color: orange;
}