@import "./common.css";

.window {
    background-color: white;
    border: 1px solid dimgray;

    /* TODO: & nesting */
}
.window header {
    background-color: black;
    color: gainsboro;
}

#main {
    background-color: orange;
}